@charset "utf-8";
/* Login.css */
/* CSS Document for Music Matters Booking Web App */
/* Author(s): Byron Prather 
 * Version: 9/8/2021
 */

body {
	font-size: 150%;
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 150%;
	color:rgb(30, 90, 180);
}

h2 {
	font-size: 150%;
	color:rgb(30, 90, 180);
}

p {
	font-size: 150%;
	color:rgb(30, 90, 180);
}

input {
	font-size: 125%;
}

button {
	font-size: 125%;
}

footer {
	font-size: .8;
	margin-top: 100px;
}